<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="1">
    <test name="Tests">
        <packages>
            <package name="com.github.seregamorph.testsmartcontext.demo"/>
        </packages>
    </test>
</suite>
